<%= form_with(model: story, class: "contents") do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :url %>
    <div class="flex mt-2">
      <%= form.select :url_protocol, 
                      options_for_select([['https://', 'https'], ['http://', 'http']]), 
                      {}, 
                      class: "w-40 shadow rounded-l-md border border-gray-400 outline-none px-3 py-4 bg-white" %>
      <%= form.text_field :url, 
                          class: "grow shadow rounded-r-md border border-gray-400 outline-none px-3 py-4",
                          style: "margin-left: -1px;" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :user_id, value: Current.user.id %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <% end %>
