<div  class="bg-white rounded-lg shadow-md p-6 mb-4 flex">
    <%= render "vote", story: story %>
  
  <div>
    <h2 class="text-xl font-semibold mb-2"><%= story.title %></h2>
    <p class="text-gray-600 mb-2"><%= truncate(story.url, length: 100) %></p>
    <p class="text-sm text-gray-500 mb-4">by <%= story.user.email_address %> <%= time_ago_in_words(story.created_at) %> ago</p>
    <div class="flex items-center justify-between">
      <%= link_to "Read more", story_path(story), class: "text-blue-500 hover:text-blue-700 text-sm" %>
    </div> 
  </div>
</div>
