

<div class="container mx-auto mt-8">
  <%= render partial: 'welcome' %>
  <%= render partial: 'history' %>
  <%= render partial: 'demo' %>
  <%= render partial: 'tasks' %>
  <%= render partial: 'stories' %>



</div>
